<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../public/css/styles.css" rel="stylesheet">
        <script href="../public/js/jquery.js"></script>
        <script href="../public/js/script.js"></script>
    </head>
    <body class = 'about-page'>

        <div class = 'about'>
            <img src="#">
            <h3>About me...</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium blanditiis, ad mollitia autem vitae deserunt eos illo id, quae veniam. Quam blanditiis quibusdam reprehenderit itaque minus consequatur, sapiente. Quo, ducimus?</p>
        </div>
        <div class = 'about'>
            <h3>Quirks</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sequi dolorum ea tenetur dicta, nostrum nesciunt vero quasi tempora, cumque unde deserunt sunt accusamus omnis. Dolorem minima nisi, itaque quaerat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur fugiat ipsa aliquam, earum. Facere rem recusandae in veniam vero fugit. Facere facilis incidunt, commodi amet tempora molestiae minus magnam id.<br>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eum voluptate debitis consequatur laudantium assumenda aliquid mollitia molestiae quas, eligendi porro aut sed, atque sequi nesciunt, est incidunt velit esse.</p>
        </div>
        <div class = 'about'>
            <h3>Passions</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium officiis, nisi, est qui veniam repellat autem possimus saepe pariatur mollitia voluptas tempore! Praesentium provident deserunt a excepturi dolores esse cum!
                <br/>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, ea libero at fugiat molestiae omnis facere reiciendis distinctio commodi aut harum magnam, facilis officia deserunt maxime incidunt eius ex. Sed!
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium neque porro, quis saepe dicta. Quod officiis, animi accusantium nulla necessitatibus illum, minus non, totam repellendus voluptas assumenda accusamus ipsam voluptate!
            </p>
        </div>
    
    </body>
</html>