<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="../public/css/styles.css" rel="stylesheet">
        <script href="../public/js/jquery.js"></script>
        <script href="../public/js/script.js"></script>
    </head>
    <body class='contacts'>

        <div class= 'contact' 'one'>
            <a class= 'gmail' href = 'mailto:axelkaban@gmail.com'><img class= 'gmail' src="../public/css/images/New_Logo_Gmail.svg.png" ></a>

        </div>
        <div class= 'contact' 'two'>
            <a class= 'github' href = 'https://github.com/Axkaban'><img class= 'github' src="../public/css/images/github-512.png" ></a>

        </div>
        <div class= 'contact' 'three'>
            <a class= 'linkedin' href = 'https://www.linkedin.com/in/axelkaban/'><img class= 'linkedin'  src="../public/css/images/LinkedIn_logo_initials.png"></a>                       
        </div>
    
    </body>
</html>