<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../public/css/styles.css" rel="stylesheet">
        <script href="../public/js/jquery.js"></script>
        <script href="../public/js/script.js"></script>
    </head>
    <body>
        <main>
            <div class='logo'>
                <h1><span class= 'show'>A</span> <span class= "hidden-letters">xel</span> <button>:</button> <span class= 'show'>K</span> <span class= "hidden-letters">aban</span>  </h1>
                <div class ='hidden-letters'> menu</div>
            </div>
        </main>
    </body>
</html>