<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="../public/css/styles.css" rel="stylesheet">
        <script href="../public/js/jquery.js"></script>
        <script href="../public/js/script.js"></script>
    </head>
    <body>
        <div class= 'project'>
            <h2>Project #</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint corporis ut quae reprehenderit modi! A, adipisci quis minima molestiae officiis, ad quidem. Vel cupiditate cumque pariatur. Id labore amet facilis.</p>
            <img src="#" >  <img src="#" >   <img src="#" >
        </div>
        <div class= 'project'>
            <h2>Project #</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad necessitatibus ullam adipisci rerum assumenda porro enim libero quae at, neque illo inventore, dicta! Non neque voluptatum totam voluptatibus accusamus possimus.</p>
            <img src="#" >  <img src="#" >   <img src="#" > 
        </div>
        <div class= 'project'>
            <h2>Project #</h2> 
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis consequuntur eveniet debitis, inventore ut. Modi dignissimos, explicabo iusto asperiores quod odio cumque nemo aspernatur magni quisquam, consequatur, nam, minima praesentium.</p>  
            <img src="#" >    <img src="#" >   <img src="#" >      
        </div>
        <div>

        </div>
    
    </body>
</html>